
<div id="catalogueContainer">

	 <!-- Single button with keyboard nav -->
	 <div class="pull-right">

		<div class="btn-group" ng-show="vm.vocab && vm.subject.data.type != 'Geographic'">
	        <label class="btn btn-default" ng-model="vm.broadSearch" ng-change="vm.updateControlledSearch()" uib-btn-radio="true" tooltip-append-to-body="true" uib-tooltip="{{'Search all subject vocabularies' | translate}}" translate>Broad</label>
	        <label class="btn btn-default" ng-model="vm.broadSearch" ng-change="vm.updateControlledSearch()" uib-btn-radio="false" tooltip-append-to-body="true" uib-tooltip="{{'Search '+vm.vocab+' only' |translate}}" translate>Narrow</label>
	    </div>

	    <div class="btn-group" uib-dropdown uib-keyboard-nav>
	        <button id="simple-btn-keyboard-nav" type="button" class="btn btn-default" uib-dropdown-toggle>
	            {{ vm.selectedInstitution ? vm.institutions[vm.selectedInstitution].label : 'All libraries' | translate }} <span class="caret"></span>
	        </button>
	        <ul class="uib-dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="simple-btn-keyboard-nav">
	            <li role="menuitem"><a href ng-click="vm.selectInstitution(null)" translate>All libraries</a></li>
	            <li class="divider"></li>
	            <li role="menuitem" ng-repeat="(key, val) in vm.institutions"><a href ng-click="vm.selectInstitution(key)">{{ val.label }}</a></li>
	        </ul>
	    </div>

	    <div class="btn-group" ng-show="vm.selectedInstitution && vm.institutions[vm.selectedInstitution].libraries" uib-dropdown uib-keyboard-nav tooltip-append-to-body="true" tooltip-placement="left" uib-tooltip="{{ 'Note: Results from a single branch will not include e-books.' | translate }}">
	        <button id="simple-btn-keyboard-nav2" type="button" class="btn btn-default" uib-dropdown-toggle>
	            {{ vm.selectedLibrary ? vm.institutions[vm.selectedInstitution].libraries[vm.selectedLibrary].label : 'All branches' | translate }} <span class="caret"></span>
	        </button>
	        <ul class="uib-dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="simple-btn-keyboard-nav2">
	            <li role="menuitem"><a href ng-click="vm.selectLibrary(null)" translate>All branches</a></li>
	            <li class="divider"></li>
	            <li role="menuitem" ng-repeat="(key, val) in vm.institutions[vm.selectedInstitution].libraries"><a href ng-click="vm.selectLibrary(key)">{{ val.label }}</a></li>
	        </ul>
	    </div>
	</div>

	<h2 translate>Catalogue results</h2>

	<uib-alert ng-if="vm.error" type="danger">{{ vm.error }}</uib-alert>

	<p ng-if="vm.subject.data.type == 'Geographic'" class="text-muted">
		The broad/narrow filter is not available for geographical names.
	</p>

	<p ng-if="vm.start && vm.total_results">
		<span translate translate-n="vm.total_results" translate-plural="Found {{vm.total_results}} documents about this topic using {{vm.searchType}}.">Found one document about this topic using {{vm.searchType}}.</span>
	</p>

	<p>Search query: ‘{{vm.searchQuery}}’</p>

	<p ng-if="vm.stringSearch" class="bg-warning">
		<span translate>
			Note: Search for subject strings is currently experimental, and might not yet work as expected.
		</span>
	</p>

	<p ng-if="!vm.busy && vm.total_results == 0" class="bg-danger">
		<span translate>
			How odd! Not a single document on that subject could be found using the current subject vocabulary.
		</span>
		<span ng-if="!vm.broadSearch && vm.subject.data.type !== 'Geographic'" translate>
			You could try expanding the search to a <a ui-sref="subject.search({broad:true})">broad search</a>.
		</span>
	</p>

	<ul class="list-group">
		<li class="list-group-item" ng-repeat="result in vm.results" mod-catalogue-result record="result" vocab="vm.vocab"></li>
	</ul>

	<p ng-show="vm.start && vm.last != vm.total_results" translate>
		Loaded {{ vm.last }} records so far, {{ vm.total_results - vm.last }} to go, hold on…
	</p>

	<div ng-show="vm.busy" class="loader"></div>

	<p ng-show="vm.start && vm.last == vm.total_results && vm.total_results != 0" translate>
		You've reached the end, my friend!
	</p>
</div>