<div style="max-width:800px; padding: 10px; margin-left:auto;margin-right:auto;">

	<h1 translate>Subject Search</h1>

	<p translate>
		Find books and more about a specific topic in the collections of Norwegian academic libraries. Start by choosing a vocabulary from the list below. A vocabulary is a controlled set of subjects. Searching all vocabularies at the same time isn't yet supported, but definitely something we would like to support in the future.
	</p>
		<!--You can also try to search in <a ui-sref="subject.vocab({vocab:'all'})">all of the vocabularies at the same time</a>,
		but this is currently not very user friendly as overlapping concepts from different vocabularies
		do not cluster, but rather shows up as duplicates.-->
	<p translate>
		Once in, you can toggle between <em>broad</em> and <em>narrow</em> search. With <em>narrow</em> search, you will only get highly relevant results carefully indexed by skilled librarians and subject specialists using the selected vocabulary. <em>Broad</em> search will give you more results, matching subjects from other vocabularies or even keywords from a variety of sources, but sometimes at the expense of precision.
	</p>


	<h2><span translate>Science</span>: <a ui-sref="subject.vocab({vocab: 'realfagstermer', lang: vm.lang})">Realfagstermer</a></h2>
	<p translate>
		Search for scientific terms. <em>Realfagstermer</em> is a controlled vocabulary maintained by the science libraries at the University at Oslo and Bergen, and is the best portal to our collections. Realfagstermer is a multilingual vocabulary that can be searched in Bokmål, Nynorsk (translation in progress), English (translation in progress) and Latin (scientific names).
	</p>

	<h2><span translate>Humanities and social sciences</span>: <a ui-sref="subject.vocab({vocab:'humord', lang: vm.lang})">Humord</a></h2>
	<p translate>
		Humord is the best portal to the humanities and social sciences. The vocabulary also has a relatively large amount of interdisciplinary subject headings. This vocabulary has only Norwegian Bokmål terms.
	</p>

	<h2><span translate>Technology and engineering</span>: <a ui-sref="subject.vocab({vocab:'tekord', lang: vm.lang})">Tekord</a></h2>
	<p translate>
		Tekord is a vocabulary created at NTNU (Norwegian University of Science and Technology). It is an especially useful search portal to technical and engineering literature. This vocabulary has only Norwegian Bokmål terms.
	</p>

	<h2><span translate>Human rights</span>: <a ui-sref="subject.vocab({vocab:'mrtermer', lang: vm.lang})">Human Rights Terms</a></h2>
	<p translate>
		Yes, we have a controlled subject vocabulary just for human rights terms! Developed and maintained by the Norwegian Centre for Human Rights’ (SMR), the vocabulary has only English terms.
	</p>

</div>
