<!-- SEARCH.HTML -->

<div class="input-group" style="margin-bottom:1.5em;">
	<div class="input-group-btn" uib-dropdown uib-keyboard-nav>
		<button id="simple-btn-keyboard-nav" type="button" class="truncate_button btn btn-default" uib-dropdown-toggle>
			<span>{{vm.truncations[vm.truncate] | translate}}</span> <span class="caret"></span>
		</button>
		<ul class="uib-dropdown-menu" role="menu" aria-labelledby="simple-btn-keyboard-nav">
            <li role="menuitem" ng-repeat="truncation in vm.truncations"><a href ng-click="vm.searchTruncation($index)">{{truncation |translate}}</a></li>
		</ul>
	</div>

	<div id="search" angucomplete-alt ng-keypress="($event.which === 13)?vm.enterKey():0" placeholder="{{'Enter a subject' | translate}}" maxlength="50" 
		pause="400"
		selected-object="vm.selectSubject" 
		remote-api-handler="vm.search"
		focus-in="vm.openSearcMenu()"
		title-field="prefLabel"
		description-field="description"
		minlength="2"
		input-class="form-control form-control-small"
		match-class="highlight"
		clear-selected="true"
		image-field="searchListIcon"
		focus-first="true"
		template-url="app/search-list-template.html"
		text-no-results="{{'No hits :(' | translate}}"
		text-searching="{{'Looking…' | translate}}"
	></div>

</div>

<uib-alert type="danger" ng-show="vm.errorMsg">
	<span translate>The search went out in error:</span>
	{{ vm.errorMsg | translate }}
</uib-alert>

<div class="subject panel panel-success" ng-show="vm.searchHistory.length > 0">
  <div class="panel-heading"><h3 class="panel-title" translate>Active subject</h3></div>
  <ul class="list-group">
    <li class="list-group-item">
	    <mod-subject subject-data="vm.searchHistory[vm.searchHistory.length-1]"></mod-subject>
    </li>
  </ul>
</div>

<div class="panel panel-default hidden-xs" ng-show="vm.searchHistory.length > 1">
  <div class="panel-heading"><h3 class="panel-title" translate>Search history</h3></div>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="subject in vm.searchHistory.slice(0, vm.searchHistory.length-1).reverse()">
	    <a ui-sref="subject.search({ id: subject.id, term: null })">
		  {{ subject.data.prefLabel[vm.lang] ? subject.data.prefLabel[vm.lang] : subject.data.prefLabel[vm.defaultLang] }}
	    </a>
    </li>
  </ul>
</div>
