<div>
	<div>
		<strong>{{vm.subject.prefLabel}}
		<span ng-show="vm.subject.elementSymbol"> ({{vm.subject.elementSymbol}}) <img src="img/element.png" title="{{'Chemical element' | translate}}"></span>
		</strong>
	</div>
	<div class="block definition" ng-show="vm.subject.definition">
		{{ vm.subject.definition }}
	</div>

	<div class="block" ng-show="vm.subject.altLabel.length">
		<span translate>Used for:</span>
		<span class="term" ng-repeat-start="label in vm.subject.altLabel">{{ label }}</span>
		<span class="term_separator" ng-repeat-end></span>
	</div>
	<div class="block"> 
		<div ng-repeat="translation in vm.subject.translations">
			{{ translation.language.name }}: {{ translation.prefLabel }}
			<span ng-show="translation.altLabel.length" class="alt_trans">
				(<span translate>Used for:</span>
				<span class="term_separator" ng-repeat="label in translation.altLabel">{{label}}</span>)
			</span>
		</div>
	</div>

	<div class="block" ng-show="vm.subject.related.length">
		<span translate>See also:</span>
		<span ng-repeat="related in vm.subject.related | orderBy:'prefLabel'">
			<a class="subject-tag" ui-sref="subject.search({ term: null, id: related.id })">{{ related.prefLabel }}</a>
		</span>
	</div>

	<div class="block" ng-show="vm.subject.broader.length">
		<span translate>Broader:</span>
		<span ng-repeat="broader in vm.subject.broader | orderBy:'prefLabel'">
			<a class="subject-tag" ui-sref="subject.search({ term: null, id: broader.id })">{{ broader.prefLabel }}</a>
		</span>
	</div>

	<div class="block" ng-show="vm.subject.narrower.length">
		<span translate>Narrower:</span>
		<span ng-repeat="narrower in vm.subject.narrower | orderBy:'prefLabel'">
			<a class="subject-tag" ui-sref="subject.search({ term: null, id: narrower.id })">{{ narrower.prefLabel }}</a>
		</span>
	</div>

	<div ng-show="vm.subject.externals.length">
		<ul class="list-group">
			<li class="list-group-item external" ng-if="external.type!='no result'" ng-repeat="external in vm.subject.externals | filter: {name:''} | orderBy:'name'">
				{{external.extract}}
				<a ng-if="external.type=='exact'" href="{{ external.url }}" target="external" translate>Read more in {{external.name}}</a>
				<a ng-if="external.type=='search'" href="{{ external.url }}" target="external" translate>Search in {{external.name}}</a> 
		
			</li> 
		</ul>
	</div>
	<p style="font-size:80%; text-align:right; margin: 0;">
		<a ng-href="{{ vm.subject.uri }}" target="external" translate>View concept in Skosmos</a>
	</p>
</div>
