<div style="max-width:800px; padding: 10px; margin-left:auto;margin-right:auto;">
	<h1 translate>Human rights terms</h1>

	<p translate>
		The Human rights terms vocabulary was initially developed in 1991 by the Human Rights Research and Education Centre of the University of Ottawa, Canada. It was adopted by the Norwegian Centre for Human Rights (SMR) in the late 1990s,
		and has since been adjusted and expanded in order to provide a great entry to the collections of the SMR library.
	</p>

	<p ng-show="vm.topicCount" translate>
		The vocabulary contains {{ vm.topicCount }} subjects.
	</p>

	<p translate>
		<a href="https://www.ub.uio.no/om/tjenester/emneord/menneskerettighetstermer.html" target="external">Learn more about the vocabulary</a>
	</p>

</div>
