<div style="max-width:800px; padding: 10px; margin-left:auto;margin-right:auto;">
	<h1 translate>Realfagstermer</h1>

	<p translate>
		Realfagstermer is a vocabulary developed by the University of Oslo Science Library
		and the University of Bergen Science Library.
	</p>
	<p>
		Contains {{ vm.topicCount }} subjects,
		{{ vm.genreCount }} form/genres,
		{{ vm.timeCount }} time periods,
		{{ vm.placeCount }} geographic names or features,
		{{ vm.compoundConceptCount }} compound concepts and
		{{ vm.virtualCompoundConceptCount }} virtual compound concepts.
	</p>

</div>
