<!DOCTYPE html>
<html ng-app="app" ng-strict-di>
	<head>
		<base href="<%= htmlWebpackPlugin.options.base || '/' %>">

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Emnesøk</title>
	</head>
	<body>

		<app-header></app-header>
		<div ui-view="main"></div>

		<!--<script src="js/translations.js"></script>-->

		<% if (process.env.NODE_ENV == 'production') { %>
		<script type="text/javascript">
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','<%= htmlWebpackPlugin.options.GA_URL %>','ga');

		ga('create', '<%= htmlWebpackPlugin.options.GA_ID %>', {
			'storage': 'none'
		});

		function useIppProxy() {
			// Modifies sendHitTask to hit ipproxy
			ga(function(tracker) {
				tracker.set('sendHitTask', function(model) {
					var xhr = new XMLHttpRequest();
					xhr.open('GET', '//w3prod-ipproxy.uio.no/collect?' + model.get('hitPayload'), true);
					xhr.send();
				});
			});
		}
		<%= htmlWebpackPlugin.options.GA_IPP %>
		</script>
		<% } %>
	</body>
</html>
