<div class="availability">

	<ul style="padding-left:20px; margin-bottom:0;" ng-if="vm.record.availability.electronic">
		<li class="online">
			<a ng-href="{{ vm.record.availability.electronic.url }}" target="external">{{ vm.record.availability.electronic.description }}</a>
		</li>
	</ul>

	<ul style="padding-left:20px; margin-bottom:0;" ng-if="vm.record.availability.print">
		<li class="printed"><a target="external"
			ng-href="{{ vm.record.links.primo }}"
			analytics-on="click"
			analytics-event="ClickPrimo"
			analytics-category="{{ vm.record.subjects[vm.vocab] ? 'LocallyIndexedDocument' : 'MatchedDocument' }}">{{ vm.record.availability.print }}</a></li>
	</ul>

	<ul style="padding-left:20px; margin-bottom:0;" ng-if="vm.record.type == 'record' && !vm.record.availability.print && !vm.record.availability.electronic">

		<li ng-if="vm.record.material.indexOf('e-books') !== -1" class="noaccess"><span translate>E-book not available</span></li>

		<li ng-if="vm.record.material.indexOf('print-books') !== -1" class="noaccess"><span translate>Print copy not available at any library</span></li>

	</ul>

</div>
