
<div id="catalogueContainer">

	 <!-- Single button with keyboard nav -->
	 <div class="pull-right">

		<div class="btn-group" ng-show="vm.vocab && vm.subject.type != 'Geographic'">
	        <label class="btn btn-default" ng-model="vm.broadSearch" ng-change="vm.updateControlledSearch()" uib-btn-radio="true" tooltip-append-to-body="true" uib-tooltip="{{'Search all subject vocabularies' | translate}}" translate analytics-on="click" analytics-event="SetBroadSearch" analytics-category="RefineSearch">Broad</label>
	        <label class="btn btn-default" ng-model="vm.broadSearch" ng-change="vm.updateControlledSearch()" uib-btn-radio="false" tooltip-append-to-body="true" uib-tooltip="{{'Search '+vm.vocab+' only' |translate}}" translate analytics-on="click" analytics-event="SetNarrowSearch" analytics-category="RefineSearch">Narrow</label>
	    </div>

	    <div class="btn-group" uib-dropdown uib-keyboard-nav>
	        <button id="simple-btn-keyboard-nav" type="button" class="btn btn-default" uib-dropdown-toggle>
	            {{ vm.selectedInstitution ? vm.institutions[vm.selectedInstitution].label : 'All libraries' | translate }} <span class="caret"></span>
	        </button>
	        <ul uib-dropdown-menu class="dropdown-menu-right" role="menu" aria-labelledby="simple-btn-keyboard-nav">
	            <li role="menuitem"><a href ng-click="vm.selectInstitution(null)" translate>All libraries</a></li>
	            <li class="divider"></li>
	            <li role="menuitem" ng-repeat="(key, val) in vm.institutions"><a href ng-click="vm.selectInstitution(key)">{{ val.label }}</a></li>
	        </ul>
	    </div>

	    <div class="btn-group" ng-show="vm.selectedInstitution && vm.institutions[vm.selectedInstitution].libraries" uib-dropdown uib-keyboard-nav tooltip-append-to-body="true" tooltip-placement="left" uib-tooltip="{{ 'Note: Results from a single branch will not include e-books.' | translate }}">
	        <button id="simple-btn-keyboard-nav2" type="button" class="btn btn-default" uib-dropdown-toggle>
	            {{ vm.selectedLibrary ? vm.institutions[vm.selectedInstitution].libraries[vm.selectedLibrary].label : 'All branches' | translate }} <span class="caret"></span>
	        </button>
	        <ul uib-dropdown-menu class="dropdown-menu-right" role="menu" aria-labelledby="simple-btn-keyboard-nav2">
	            <li role="menuitem"><a href ng-click="vm.selectLibrary(null)" translate>All branches</a></li>
	            <li class="divider"></li>
	            <li role="menuitem" ng-repeat="(key, val) in vm.institutions[vm.selectedInstitution].libraries"><a href ng-click="vm.selectLibrary(key)">{{ val.label }}</a></li>
	        </ul>
	    </div>
	</div>

	<h2 translate>Documents</h2>

	<div ng-if="!vm.error && vm.mappings.length" style="margin: .6em 0; border-radius: 4px; padding: 2px 10px">
		<div ng-if="vm.useMappingExpansion">
			<span class="glyphicon glyphicon-transfer" aria-hidden="true"></span>
			Søket ble utvidet med ett eller flere tilknyttede begreper
			(<span ng-repeat="mapping in vm.mappings"><span>{{ mapping.to.repr }}</span><span ng-if="!$last">, </span></span>).
			<a href="#" ng-click="vm.setMappingExpansion(false)">Skru av søkeutvidelse</a>.
		</div>
		<div ng-if="!vm.useMappingExpansion">
			<span class="glyphicon glyphicon-transfer" aria-hidden="true"></span>
			Vil du ha flere treff?
			<a href="#" ng-click="vm.setMappingExpansion(true)">Prøv kontrollert søkeutvidelse</a>.	
		</div>
	</div>

	<div uib-alert ng-if="vm.error" class="alert-danger" compile="vm.error"></div>

	<p ng-if="!vm.busy && !vm.error && !vm.total_results && vm.subject.type !== 'KnuteTerm'" class="bg-danger">
		<span translate>
            Ouch, not a single document was found.
		</span>
		<span ng-if="!vm.broadSearch && vm.subject.type !== 'Geographic'" translate>
			You could try expanding the search to a <a ui-sref="subject.search({broad:true})">broad search</a>.
		</span>
		<span ng-if="vm.broadSearch && vm.selectedInstitution && vm.subject.type !== 'Geographic'" translate>
			You could try expanding the search to <a ui-sref="subject.search({library:null})">all libraries</a>.
		</span>
	</p>

	<p ng-if="vm.subject.type == 'Geographic'" class="text-muted">
		The broad/narrow filter is not available for geographical names.
	</p>

	<p ng-if="vm.subject.type == 'KnuteTerm'" class="bg-warning">
		This concept is a “KnuteTerm”, so there should not be any search results.
	</p>

	<div style="position: relative;">

		<div class="slideInUp" ng-show="vm.total_results && !vm.stateChanging">

			<!--<p ng-if="!vm.error">
				<span ng-if="vm.start && vm.total_results" translate translate-n="vm.total_results" translate-plural="Found {{vm.total_results}} documents about this topic using {{vm.searchType}}.">Found one document about this topic using {{vm.searchType}}.</span>
			</p>-->

			<ul class="list-group">
				<app-catalogue-result
					ng-repeat="result in vm.results"
					record="result"
					vocab="vm.vocab"
					index-term="vm.indexTerm"
					broad-search="vm.broadSearch"></app-catalogue-result>
			</ul>

			<p ng-show="vm.start && vm.offset != vm.total_results" translate>
				Loaded {{ vm.results.length }} records so far, about {{ vm.total_results - vm.offset }} left, hold on…
			</p>

			<p ng-show="vm.start && vm.offset == vm.total_results" translate>
				Found {{ vm.results.length }} documents about this topic using {{vm.searchType}}.
			</p>

			<div class="panel panel-default" ng-show="vm.start && vm.offset == vm.total_results && vm.total_results != 0 && !vm.broadSearch && vm.subject.type !== 'Geographic'">
				<div class="panel-body">
					<span translate>Interested in more results?</span>
					<a ui-sref="subject.search({broad:true})" class="btn btn-default" translate>Expand to broad search</a>
				</div>
			</div>
		</span>


		</div>

	</div>

	<div ng-show="vm.busy" class="loader"></div>
	<div ng-if="!vm.error" class="text-muted small">
		Query: {{vm.query}}
	</div>
	
</div>
