
<div id="catalogueContainer" style="margin-top:6px; clear:both;">

	<div style="margin-left:70px">

		<div ng-if="!vm.subject" class="fade-x" style="clear:both;">
			<app-child-list top-concepts="true"></app-child-list>
		</div>
		<div ng-if="vm.subject && vm.subject.type == 'LinkingTerm'" class="fade-x" style="clear:both;">
			<app-child-list uri="vm.subject.uri"></app-child-list>
		</div>


		<div ng-if="!vm.error && vm.mappings.length" style="margin-bottom: 1em 0; padding: 2px 10px;">
			<div ng-if="vm.useMappingExpansion">
				<span class="glyphicon glyphicon-transfer" aria-hidden="true"></span>
				Søket ble utvidet med ett eller flere tilknyttede begreper
				(<span ng-repeat="mapping in vm.mappings"><span>{{ mapping.to.repr }}</span><span ng-if="!$last">, </span></span>).
				<a href="#" ng-click="vm.setMappingExpansion(false)">Skru av søkeutvidelse</a>.
			</div>
			<div ng-if="!vm.useMappingExpansion">
				<span class="glyphicon glyphicon-transfer" aria-hidden="true"></span>
				Vil du ha flere treff?
				<a href="#" ng-click="vm.setMappingExpansion(true)">Prøv kontrollert søkeutvidelse</a>.	
			</div>
		</div>

		<div uib-alert ng-if="vm.error" class="alert-danger" compile="vm.error"></div>

		<div style="clear:both;"></div>

		<div ng-if="!vm.busy && !vm.error && !vm.total_results && vm.subject.type !== 'LinkingTerm'">
			<p class="bg-danger">
				<span translate>
		            Ouch, not a single document was found.
				</span>
				<span ng-if="!vm.broadSearch && vm.subject.type !== 'Geographic'" translate>
					You could try expanding the search to a <a ui-sref="subject.search({broad:true})">broad search</a>.
				</span>
				<span ng-if="vm.broadSearch && vm.selectedInstitution && vm.subject.type !== 'Geographic'" translate>
					You could try expanding the search to <a ui-sref="subject.search({library:null})">all libraries</a>.
				</span>
			</p>
			<app-child-list uri="vm.subject.uri"></app-child-list>
		</div>

		<p ng-if="vm.subject.type == 'Geographic'" class="text-muted">
			The broad/narrow filter is not available for geographical names.
		</p>
	</div>

	<div style="position: relative; padding-top: 1.2em;">

		<div class="slideInUp" ng-show="vm.total_results && !vm.stateChanging">

			<!--<p ng-if="!vm.error">
				<span ng-if="vm.start && vm.total_results" translate translate-n="vm.total_results" translate-plural="Found {{vm.total_results}} documents about this topic using {{vm.searchType}}.">Found one document about this topic using {{vm.searchType}}.</span>
			</p>-->

			<app-catalogue-result
				ng-repeat="result in vm.results"
				record="result"
				vocab="vm.vocab"
				index-term="vm.indexTerm"
				broad-search="vm.broadSearch"></app-catalogue-result>

		</div>

	</div>

	<div style="margin-left:80px">

		<div ng-show="vm.start && vm.offset == vm.total_results" style="padding: 1.2em 0">
			<em translate>Found {{ vm.results.length }} documents about this topic using {{vm.searchType}}.</em>
		</div>

		<div ng-show="vm.busy" class="loader" style="margin-bottom: 1.2em"></div>

		<div ng-show="vm.start && vm.offset != vm.total_results" translate style="padding-bottom: 1.2em">
			Showing {{ vm.results.length }} of {{ vm.offset }} results, about {{ vm.total_results - vm.offset }} left to check…
		</div>

		<div class="panel panel-default" ng-show="vm.start && vm.offset == vm.total_results && vm.total_results != 0 && !vm.broadSearch && vm.subject.type !== 'Geographic'" style="margin-bottom: 1.2em">
			<div class="panel-body">
				<span translate>Interested in more results?</span>
				<a ui-sref="subject.search({broad:true})" class="btn btn-default" translate>Expand to broad search</a>
			</div>
		</div>

		<!--
			<div ng-if="!vm.error" class="text-muted small">
				Query: {{vm.query}}
			</div>
		-->
	</div>

</div>
