<div class="catalogue_result" style="display:flex;">

	<div style="width: 80px; height: 80px; flex: 0 0 auto;">

		<!-- FRBRized version -->
		<img ng-if="vm.record.type == 'group' && vm.recordExpanded"
			ng-src="{{ vm.versions[0].thumbnail }}"
			style=" display: block; padding-right: 10px; margin-left:auto; margin-right: auto; max-width: 80px; max-height: 80px;"
		>

		<!-- Single item -->
		<img
			ng-if="vm.record.type != 'group'"
			ng-src="{{ vm.record.thumbnail }}"
			style=" display: block; padding-right: 10px; margin-left:auto; margin-right: auto; max-width: 80px; max-height: 80px;"
		>
	</div>

	<div style="flex: 1 1 auto">

		<div>
			<a style="font-size:120%;"
				target="external"
				ng-href="{{ vm.record.links.primo }}"
				analytics-on="click"
				analytics-event="ClickPrimo"
				analytics-category="{{ vm.record.subjects[vm.vocab] ? 'LocallyIndexedDocument' : 'MatchedDocument' }}">{{ vm.record.title }}</a>
			<span ng-show="vm.record.pubEdYear">({{ vm.record.pubEdYear }})</span>
		</div>

		<div ng-bind-html="vm.record.responsibility ? vm.record.responsibility: vm.record.creator_string"></div>

		<div ng-show="vm.record.ispartof" style="font-size:85%;"><span translate>Series</span>: {{ vm.record.ispartof }}</div>

		<div ng-show="vm.record.format && vm.record.format != 'book'">
			Format: {{ vm.record.format }}
		</div>

		<div ng-show="vm.record.type == 'group' && !vm.recordExpanded">

			<!-- TODO: Make ng-click="vm.expandGroup()" work again, but that requires an update on LSM too -->
			<a href="#"
				ng-href="{{ vm.record.links.primo }}"
				target="external"
				translate>{{vm.record.number_of_editions}} editions</a>
			<span ng-show="busy"><span translate>Fetching editions…</span></span>
		</div>

		<div ng-show="vm.recordExpanded">
			<!-- <div translate translate-n="vm.versions.length" translate-plural="{{$count}} editions:">One edition:</div> -->

			<div ng-repeat="version in vm.versions">
				<span style="float:right; font-style: italic;">
					{{ version.edition }}
					{{ version.date }}
				</span>
				<app-availability record="version"></app-availability>
			</div>
		</div>

		<!--<div>{{ vm.record.material }}</div>-->

		<!-- Availability -->
		<app-availability record="vm.record"></app-availability>

		<!-- Subjects -->
		<div ng-if="!vm.broadSearch">
			<div ng-repeat="v in vm.vocabularies[vm.vocab].show_vocabs">
				<span ng-repeat="subject in vm.record.subjects[v]">
					<a ui-sref="subject.search({vocab:v, id: subject.id, uri: null, term: subject.term})"
					class="subject-tag {{subject.type}}"
					ng-if="!subject.matchesQuery"
					analytics-on="click" analytics-event="ClickTag" analytics-category="ControlledTag" analytics-label="{{ subject.term }}"
					title="{{ subject.term }} i {{v}}">{{ subject.term }}</a>
					<span ng-if="subject.matchesQuery" class="subject-tag">{{ subject.term }}</span>
				</span>
			</div>
		</div>
		<div ng-if="vm.broadSearch">
			TODO: Show all subjects from any vocabulary
		</div>

		<div ng-show="vm.record.subjects[vm.vocab]">

			<!-- Show subjects from other vocabularies if no local -->
			<span ng-show="!vm.record.subjects[vm.vocab].length && !vm.record.subjects.place.length" ng-repeat="subject in vm.record.subjects.subject">
				<a href="#" ng-if="vm.indexTerm != subject" ng-click="vm.clickSubject(subject)" title="{{'This is a subject from another vocabulary. It might not exist in the current vocabulary.' | translate}}" class="subject-tag othervocabulary text-warning">{{ subject }}</a><span ng-if="vm.indexTerm == subject" class="subject-tag">{{ subject }}</span>
			</span>

			<!-- Geographic names (May or may not belong to the local vocabulary) -->
			<span ng-repeat="subject in vm.record.subjects.place || []">
				<a href="#" ng-click="vm.clickSubject(subject)" class="subject-tag geographic" title="{{ 'Geographic' | translate }}">{{ subject }}</a>
			</span>

			<!-- Genre/forms (May or may not belong to the local vocabulary) -->
			<span ng-repeat="subject in vm.record.subjects.genre || []">
				<a href="#" ng-click="vm.clickSubject(subject)" class="subject-tag genre" title="{{ 'GenreForm' | translate }}">{{ subject }}</a>
			</span>

		</div>

	</div>

</div>