<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-init="vm.navCollapsed = true" ng-click="vm.navCollapsed = !vm.navCollapsed">
        <span class="sr-only">Menu</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <span class="navbar-brand">
        <a ui-sref="home({ lang: vm.lang })" translate>Subject Search</a>
        <span ng-show="vm.vocab">
        : <a ui-sref="subject.vocab()">{{ vm.vocab.name }}</a>
        </span>
      </span>
    </div><!-- /.navbar-header -->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-collapse" uib-collapse="vm.navCollapsed">
      <ul class="nav navbar-nav navbar-right">
        <li><a ui-sref="about({ lang: vm.lang })" translate>About</a></li>
        <li uib-dropdown>

          <a href id="language-dropdown-button" role="button" aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle>
            <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
            {{ vm.languageLabels[vm.lang] }} <span class="caret"></span>
          </a>

          <ul uib-dropdown-menu role="menu" aria-labelledby="language-dropdown-button">
            <li role="menuitem" ng-repeat="lang in vm.languages"><a href ng-click="vm.setLanguage(lang)">{{ vm.languageLabels[lang] }}</a></li>
          </ul>

        </li>

      </ul>
    </div><!-- /.navbar-collapse -->


  </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid" ng-show="!vm.helloHidden">
  <uib-alert class="alert-success" close="vm.hideHello();">
    <div>
        Snevert søk fungerer nå presist. For å få dette til må vi filtrere
        resultatene fra Oria, noe som medfører at vi ikke vet nøyaktig hvor mange
        resultater vi får før alle er lastet. Tallet for antall treff er derfor
        flyttet ned til <em>under</em> resultatlista.
    </div>
  </uib-alert>
</div>
