/*****************************************
 * General
 *****************************************/

body {
  /* Prevents stuff from jumping around */
  overflow-y: scroll;
  /*overflow-x: hidden;*/
}

h2 {
  margin-top: 0;
}

uib-alert {
  margin-bottom: .5em;
}

.subject-tag, .ddc-tag {
  margin: 4px 3px 0 0;
  display: inline-block;
  background: #f9f9f9;
  border: 1px solid #eee;
  border-radius: 3px;
  padding: 0px 5px;
  font-size: 90%;
}
span.subject-tag, span.ddc-tag {
  background: white;
  color: #666;
  cursor: default;
}
.ddc-tag:before {
  /*Using a Bootstrap glyphicon as the bullet point*/
  content: "DDC: ";
}
span.ddc-tag {
}
a.subject-tag:focus {
  text-decoration: none;
}
a.subject-tag:hover {
  border: 1px solid #ddd;
  background-image: linear-gradient(to bottom, #fefefe, #DCEBF5);
  text-decoration: none;
  background-repeat: repeat-x;
}
a.subject-tag:active {
  border: 1px solid #bbb;
  background-image: linear-gradient(to bottom, #DCEBF5, #fefefe);
  text-decoration: none;
  background-repeat: repeat-x;
}
.subject-tag:before {
  /*Using a Bootstrap glyphicon as the bullet point*/
  content: "\e041";
  font-family: 'Glyphicons Halflings';
  font-size: 10px;
  padding-right: 2px;
}
.subject-tag.othervocabulary {

}
.subject-tag.genre, .subject-tag.geographic {

}
.subject-tag.genre:before {
  content: "\e032";
}
.subject-tag.geographic:before {
  content: "\e062";
}

.vocabulary-info {
  max-width:800px;
  padding: 10px;
  margin-right:auto;
  margin-left:75px;
}

/*****************************************
 * Landing page
 *****************************************/

.landing_page {
  max-width:800px;
  padding: 10px;
  margin-left:80px;
}
.landing_page ul {
  list-style-type: none;
    padding-left:.4em;
}
.landing_page li {
  padding: 3px 0;
    margin-left:0;

}

/*****************************************
 * Catalogue view
 *****************************************/

#catalogueContainer {
  margin-bottom: 200px;
}
#catalogueContainer p {
  padding: 15px;
  border-radius: 4px;
  margin-top: 1.5em;
}

.catalogue_result {
  padding-bottom: 1.2em;
}

.loader {
  margin-top: 40px;
  height: 4px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #ddd;
  animation: show .5s forwards;
  animation-iteration-count: 1;
  animation-delay: 0.5s;
  -webkit-animation: show .5s forwards;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 0.5s;  /* Delay 0.5 seconds before showing the loader */
  opacity: 0;
}
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .4;
  }
}
.loader:before{
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 4px;
  background-color: #2980b9;
  animation: loading 2s linear infinite;
}

@keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}

li.online, li.printed, li.noaccess {
    font-size:100%;
    display: block;
}

li.online:before {
    /*Using a Bootstrap glyphicon as the bullet point*/
    content: "\2601";
    font-family: 'Glyphicons Halflings';
    font-size: 11px;
    float: left;
    margin-top: 4px;
    margin-left: -17px;
    color: #666;
}

li.printed:before {
    /*Using a Bootstrap glyphicon as the bullet point*/
    content: "\e043";
    font-family: 'Glyphicons Halflings';
    font-size: 11px;
    float: left;
    margin-top: 4px;
    margin-left: -17px;
    color: #666;
}

li.noaccess:before {
    /*Using a Bootstrap glyphicon as the bullet point*/
    content: "\e090";
    font-family: 'Glyphicons Halflings';
    font-size: 11px;
    float: left;
    margin-top: 4px;
    margin-left: -17px;
    color: #666;
}

/*****************************************
 * Search box (Angucomplete)
 *****************************************/

.highlight {
  color: #3A8EC4;
}

.angucomplete-row {
  padding: 3px !important;
  margin-bottom: 2px !important;
}

.angucomplete-title{
  float:none !important;
  color:#5D5D5D;
}

.angucomplete-description {
  vertical-align: bottom;
  font-size: 85% !important;
  color:#777777 !important;
  font-style: italic !important;
  float:none !important;
}

#searchbox{
  width:100%;
}

#searchbox_dropdown {
  margin-top: 32px !important;
  max-height:50vh;
  width:80%;
  overflow-y: auto;
  background:white;
  cursor:pointer;
  color:black;
}

.truncate_button{
  width:120px;
  text-align: left !important;
}

#header{
  border-bottom: 1px #EAEAEA solid;
  margin:0 !important;
  height:60px;
}

#left{
  margin:0 !important;
}

#right{
  margin:0 !important;
}

.block {
  margin-top:5px;
  margin-bottom:5px;
}

.external {
  background-color:#F9F9F9 !important;
}

.searchbox_history{
  margin-top:30px;
}

.subject .pref_label {
  font-size:120%;
  font-weight:bolder;
}

.subject .definition{
  font-size: 90%;
}

.subject th {
  vertical-align: top;
  font-weight: normal;
  white-space: nowrap;
  text-align: right;
  font-size: 85%;
  color: #555;
  padding-left: .4em;
  padding-right: .4em;
  padding-top: .2em;
}

.subject td {
  vertical-align: top;
}

.term_separator:not(:last-child)::after {
  content: ' • ';
}

@media print {
  a[href]:after {
    content: none;
  }
}

/*****************************************
 * Animations
 *****************************************/

/* The starting CSS styles for the enter animation */
.fade-x {
  overflow: hidden;
}
.fade-x.ng-enter {
  transition:0.3s ease-in-out all;
  opacity:0;
  max-height: 0;
}

/* The finishing CSS styles for the enter animation */
.fade-x.ng-enter.ng-enter-active {
  opacity:1;
  max-height: 200px;
}
/* now the element will fade out before it is removed from the DOM */
.fade-x.ng-leave {
  transition:0.3s ease-in-out all;
  opacity:1;
  max-height: 200px;
}
.fade-x.ng-leave.ng-leave-active {
  opacity:0;
  max-height: 0;
}

.slideInUp.ng-hide-add         { animation:0.4s fadeOut ease-out; }

/* when showing the picture */
.slideInUp.ng-hide-remove      { animation:0.6s fadeIn ease; }

/* ANIMATIONS (FROM ANIMATE.CSS) ======================== */

@keyframes fadeIn {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 0;
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 0;
  }
}
