<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-init="vm.navCollapsed = true" ng-click="vm.navCollapsed = !vm.navCollapsed">
        <span class="sr-only">Menu</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <span class="navbar-brand">
        <a ui-sref="home" translate>Subject search</a>
        <span ng-show="vm.vocab">
        : {{ vm.vocab.name }}
        </span>
      </span>
    </div><!-- /.navbar-header -->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" uib-collapse="vm.navCollapsed">
      <ul class="nav navbar-nav navbar-right">

        <li uib-dropdown>

          <a id="language-dropdown-button" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle>
            <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
            {{ vm.languageLabels[vm.lang] }} <span class="caret"></span>
          </a>

          <ul class="uib-dropdown-menu" role="menu" aria-labelledby="language-dropdown-button">
            <li role="menuitem" ng-repeat="lang in vm.languages"><a href ng-click="vm.setLanguage(lang)">{{ vm.languageLabels[lang] }}</a></li>
          </ul>

        </li>

      </ul>
    </div><!-- /.navbar-collapse -->


  </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">
  <uib-alert type="info" translate>
    Welcome to an early development version of Subject Search 2.0. Please go ahead and search, but be warned that
    functionality is still missing and that everything may suddenly fail.
    Until a stable Subject Search 2.0 is released, you'll also be able to use our
    <a href="http://app.uio.no/ub/emnesok/test/oria/">Experimental Subject Search against Oria</a>.
    Do you have ideas for improving the subject search? We have a <a href="https://github.com/scriptotek/emnesok/issues">list of issues we're working on</a>, where you can also contribute your own ideas (requires a free GitHub account).
  </uib-alert>
</div>
