<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <span class="navbar-brand">
        <a ui-sref="home" translate>Subject search</a>
        <span ng-show="vm.vocab">
        : {{ vm.vocab.name }}
        </span>
      </span>
    </div><!-- /.navbar-header -->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">

        <li uib-dropdown>

          <a id="language-dropdown-button" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle>
            <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
            {{ vm.langNames[vm.lang] }} <span class="caret"></span>
          </a>

          <ul class="uib-dropdown-menu" role="menu" aria-labelledby="language-dropdown-button">
            <li role="menuitem" ng-repeat="lang in vm.languages"><a href ng-click="vm.setLanguage(lang)">{{ vm.langNames[lang] }}</a></li>
          </ul>

        </li>

      </ul>
    </div><!-- /.navbar-collapse -->


  </div><!-- /.container-fluid -->
</nav>

