<div style="max-width:800px; padding: 10px; margin-left:auto;margin-right:auto;">

<h1 translate>Hei du!</h1>

<p>
	Velkommen til emnesøket vårt. Begynn med å velge et emne-vokabular fra listen under.
	Et emne-vokabular er et kontrollert sett av emneord.
	Du kan også forsøke å søke i <a ui-sref="subject({vocab:'all'})">alle samtidig</a>,
	men det er foreløpig ikke veldig brukervennlig siden overlappende begreper i ulike
	vokabularer ikke klustres, men vises hver for seg.
</p>
<p>
	<h2>Realfag: <a ui-sref="subject({vocab:'realfagstermer'})">Realfagstermer</a></h2>
	<p>
		Søk etter realfaglige begreper. Realfagstermer er et kontrollert begrep
		som vedlikeholdes av Realfagsbiblioteket ved UiO og UiB, og gir den beste
		inngangen til samlingene våre, men du kan også utvide søket og få treff
		i andre samlinger.
	</p>

	<h2>Humaniora og sammfunnsfag: <a ui-sref="subject({vocab:'humord'})">Humord</a></h2>
	<p>
		Humord gir den beste inngangen til humaniora og samfunnsfag. Vokabularet har
		også en stor mengde tverrfalige termer, og du kan utvide søket og få treff
		i andre samlinger.
	</p>

	<h2>Teknikk/ingeniørfag: <a ui-sref="subject({vocab:'tekord'})">Tekord</a></h2>
	<p>
		Tekord er et vokabular utviklet ved NTNU. Det er særlig en god søkeinngang til
		teknisk faglitteratur ved NTNU, men ved å utvide søket vil du også få treff i
		andre samlinger.
	</p>

	<h2>Menneskerettigheter: <a ui-sref="subject({vocab:'mrtermer'})">Human Rights Terms</a></h2>
	<p>
		Menneskerettighetstermer er et kontrollert emneordsvokabular som forvaltes og
		videreutvikles av Norsk senter for menneskerettigheters (SMR) bibliotek.
	</p>

</p>

</div>