<!-- SEARCH.HTML -->

<div class="input-group">
	<div class="input-group-btn" uib-dropdown uib-keyboard-nav>
		<button id="simple-btn-keyboard-nav" type="button" class="truncate_button btn btn-default" uib-dropdown-toggle translate>
			{{vm.truncations[vm.truncate]}} <span class="caret"></span>
		</button>
		<ul class="uib-dropdown-menu" role="menu" aria-labelledby="simple-btn-keyboard-nav">
            <li role="menuitem" ng-repeat="truncation in vm.truncations"><a href ng-click="vm.truncate=$index" translate>{{truncation}}</a></li>
		</ul>
	</div>

	<uib-alert type="danger" ng-show="vm.errorMsg">
		<span translate>An error occured:</span>
		{{ vm.errorMsg | translate }}
	</uib-alert>

	<div id="search" angucomplete-alt placeholder="{{'Enter a subject' | translate}}" maxlength="50" 
		pause="300"
		selected-object="vm.selectSubject" 
		remote-api-handler="vm.search"
		focus-in="vm.focusIn"
		title-field="prefLabel"
		minlength="0" 
		input-class="form-control form-control-small"
		match-class="highlight"
		text-no-results="{{'No hits :(' | translate}}"
		text-searching="{{'Looking…' | translate}}"
	></div>

</div>
