<!-- SUBJECT.HTML
Includes search history

-->

<div id="subject" ng-cloak ng-show="vm.subject">
	<div id="term">
		{{vm.subject}} <span ng-show="vm.chem"><b>({{vm.chem}})</b></span>
	</div>
	<div ng-show="vm.otherLangSubjects" ng-repeat="otherLangSubject in vm.otherLangSubjects">
		{{otherLangSubject.value}} ({{otherLangSubject.lang}})
	</div>
	<div id="term" style="margin-top:7px">
		Se også
	</div>
	<div ng-show="vm.relatedSubjects" ng-repeat="relatedSubject in vm.relatedSubjects | orderBy:'value'">

		{{relatedSubject.value}}
	</div>
	<div id="term" style="margin-top:7px">
		Brukt for
	</div>

	<div ng-show="vm.altSubjects" ng-repeat="altSubject in vm.altSubjects | orderBy:'value'">
		{{altSubject.value}}
	</div>

</div>