
<div class="input-group" style="margin-left:80px">
	<div class="input-group-btn" uib-dropdown uib-keyboard-nav>
		<button id="simple-btn-keyboard-nav" type="button" class="truncate_button btn btn-default" uib-dropdown-toggle>
			<span>{{vm.truncations[vm.truncate] | translate}}</span> <span class="caret"></span>
		</button>
		<ul uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav">
            <li role="menuitem" ng-repeat="truncation in vm.truncations"><a href ng-click="vm.searchTruncation($index)">{{truncation |translate}}</a></li>
		</ul>
	</div>

	<div angucomplete-alt
		id="search"
		ng-keypress="($event.which === 13) ? vm.enterKey() : 0"
		minlength="2"
		maxlength="50"
		pause="400"
		selected-object="vm.selectSubject"
		remote-api-handler="vm.search"
		focus-in="vm.openSearcMenu()"
		title-field="prefLabel"
		description-field="description"
		input-class="form-control form-control-small"
		match-class="highlight"
		focus-first="true"
		template-url="/authoritySearchListTemplate.html"
		placeholder="{{'Enter a subject' | translate}}"
		text-no-results="{{'No hits :(' | translate}}"
		text-searching="{{'Looking…' | translate}}"
	></div>

    <script type="text/ng-template" id="/authoritySearchListTemplate.html">
    	<div class="angucomplete-holder" ng-class="{'angucomplete-dropdown-visible': showDropdown}">
    <input id="{{id}}_value" name="{{inputName}}" tabindex="{{fieldTabindex}}" ng-class="{'angucomplete-input-not-empty': notEmpty}" ng-model="searchStr" ng-disabled="disableInput" type="{{inputType}}" placeholder="{{placeholder}}" maxlength="{{maxlength}}" ng-focus="onFocusHandler()" class="{{inputClass}}" ng-focus="resetHideResults()" ng-blur="hideResults($event)" autocapitalize="off" autocorrect="off" autocomplete="off" ng-change="inputChangeHandler(searchStr)"/>
       <div id="{{id}}_dropdown" class="angucomplete-dropdown" ng-show="showDropdown">
         <div class="angucomplete-searching" ng-show="searching" ng-bind="textSearching"></div>
         <div class="angucomplete-searching" ng-show="!searching && (!results || results.length == 0)" ng-bind="textNoResults"></div>
         <div class="angucomplete-row" ng-repeat="result in results" ng-click="selectResult(result)" ng-mouseenter="hoverRow($index)" ng-class="{'angucomplete-selected-row': $index == currentIndex}">
           <div ng-if="imageField" class="angucomplete-image-holder">
             <img ng-if="result.image && result.image != ''" ng-src="{{result.image}}" class="angucomplete-image"/>
             <div ng-if="!result.image && result.image != ''" class="angucomplete-image-default"></div>
           </div>

           <div class="angucomplete-title" ng-if="matchClass" ng-bind-html="result.title"></div>

		   <span ng-bind-html="result.originalObject.searchListIcon" class="angucomplete-description"></span>

           <div ng-if="matchClass && result.description && result.description != ''" class="angucomplete-description" ng-bind-html="result.description"></div>

         </div>
       </div>
    </div>
    </script>
</div>

<uib-alert type="danger" ng-show="vm.errorMsg" style="margin-top: 1em;">
	<span translate>The search went out in error:</span>
	{{ vm.errorMsg | translate }}
</uib-alert>

