
<div style="border: 1px solid #eee; border-radius:3px" class="subject">

    <div style="padding: 1em;">
        <div style="font-size: 110%; margin-bottom: .4em; font-weight: bold;">
            {{ vm.subject.getPrefLabel() }}
            <span style="font-weight: normal;" ng-if="vm.subject.type != 'Topic'">({{ vm.subject.type | translate }})</span>
            <!--
                <span ng-show="vm.subject.elementSymbol"> ({{vm.subject.elementSymbol}}) <img src="./assets/element.png" title="{{'Chemical element' | translate}}"></span>
            -->
        </div>

        <table class="authority_record">
            <tbody>

                <tr ng-show="vm.subject.get('definition.' + vm.lang)">
                    <th translate>Definition:</th>
                    <td>
                        {{ vm.subject.get('definition.' + vm.lang) }}
                    </td>
                </tr>
                <tr ng-show="vm.subject.get('altLabel.' + vm.lang)">
                    <th translate>Used for:</th>
                    <td>
                        <span class="term" ng-repeat-start="label in vm.subject.get('altLabel.' + vm.lang)">{{ label }}</span>
                        <span class="term_separator" ng-repeat-end></span>
                    </td>
                </tr>
                <tr ng-repeat="lang in vm.subject.get('prefLabel') | objectKeys | filter: '!'+vm.lang">
                    <th>
                    {{ vm.languageLabels[lang] }}:
                    </th>
                    <td>
                        <span class="term_separator">{{ vm.subject.get('prefLabel.' + lang) }}</span>
                        <span class="term_separator" ng-repeat="label in vm.subject.get('altLabel.' + lang)">{{label}}</span>
                    </td>
                </tr>
                <tr ng-show="vm.subject.get('related').length">
                    <th translate>See also:</th>
                    <td>
                        <a ng-repeat="related in vm.subject.get('related') | orderBy:'prefLabel'" class="subject-tag" ng-class="{ geographic: related.type == 'Geographic', genre: related.type == 'GenreForm' }" ui-sref="subject.search({ term: null, id: null, uri: related.uri })">{{ related.notation }} {{ related.getPrefLabel() }}</a>
                    </td>
                </tr>

                <tr class="block" ng-show="vm.subject.broader.length">
                    <th translate>Broader:</th>
                    <td>
                        <a ng-repeat="broader in vm.subject.broader | orderBy:'prefLabel'" class="subject-tag" ng-class="{ geographic: broader.type == 'Geographic', genre: broader.type == 'GenreForm' }" ui-sref="subject.search({ term: null, id: null, uri: broader.uri })">{{broader.notation }} {{ broader.getPrefLabel() }}</a>
                    </td>
                </tr>

                <tr class="block" ng-show="vm.subject.narrower.length">
                    <th translate>Narrower:</th>
                    <td>
                        <a ng-repeat="narrower in vm.subject.narrower | orderBy:'prefLabel'" class="subject-tag" ng-class="{ geographic: narrower.type == 'Geographic', genre: narrower.type == 'GenreForm' }" ui-sref="subject.search({ term: null, id: null, uri: narrower.uri })">{{ narrower.notation }} {{ narrower.getPrefLabel() }}</a>
                    </td>
                </tr>


            </tbody>
        </table>

        <div ng-show="vm.subject.externals.length">
            <ul class="list-group">
                <li class="list-group-item external" ng-if="external.type!='no result'" ng-repeat="external in vm.subject.externals | filter: {name:''} | orderBy:'name'">
                    {{external.extract}}
                    <a ng-if="external.type=='exact'" href="{{ external.url }}" target="external" translate>Read more in {{external.name}}</a>
                    <a ng-if="external.type=='search'" href="{{ external.url }}" target="external" translate>Search in {{external.name}}</a>

                </li>
            </ul>
        </div>
        <p style="font-size:80%; text-align:right; margin: 0;">
            <span ng-show="vm.subject.feedbackUri()">
                <a ng-href="{{ vm.subject.feedbackUri() }}" target="external" translate>» Report problem</a>
            </span>
        </p>
    </div>

    <app-wikidata ng-if="vm.showWikipedia" :mapping="vm.subject.wikidata" :subject="vm.subject"></app-wikidata>

    <div style="padding:1em; border-top: 1px solid #eee; font-size: 90%; background: #fafafa" ng-if="vm.subject.mappings.length">
        <div>Related concepts in other vocabularies:</div>
        <ul style="margin: 0;">
            <li ng-repeat="mapping in vm.subject.mappings">
                <span translate>{{ mapping.typeLabel }}</span>
                <a ui-sref="subject.search({ vocab: mapping.to.vocabulary, term: null, id: null, uri: mapping.to.uri })">
                    {{ mapping.to.notation }} {{ mapping.to.getPrefLabel() }}
                </a>
                <span translate>in</span>
                {{ mapping.to.vocabularyLabel }}
            </li>
        </ul>
        <p style="font-size:80%; text-align:right; margin: 0;">
            <a ng-href="https://data.ub.uio.no/skosmos/{{ vm.subject.vocab }}/page/?uri={{ vm.subject.uri | encodeURIComponent }}" target="external" translate>» View in Skosmos</a>
        </p>
    </div>
</div>

