<div>

    <div ng-if="vm.data.article || vm.data.item" style="padding:1em; border-top: 1px solid #eee; font-size: 90%; background: #fafafa">

        <!-- Image -->

        <a ng-href="{{ vm.data.image.descriptionurl }}" target="_blank">
            <img ng-if="vm.data.image" ng-src="{{ vm.data.image.thumburl }}" style="float:right; margin-left: 0.8em;" ng-style="{'width': vm.data.image.thumbwidth + 'px', 'height': vm.data.image.thumbheight + 'px'}" alt="Illustrasjonsbilde fra Wikidata">
        </a>

        <!-- Article extract -->

        <p ng-if="vm.data.article">{{ vm.data.article.extract }}</p>

        <!-- Links -->

        <div style="display:flex">
            <div style="flex:1 1 auto">
                <span ng-if="vm.verified" style="color: #aaa; font-style: italic;" translate>Verified match</span>
                <span ng-if="!vm.verified" class="guess" style="color: #aaa; font-style: italic;" translate>Article suggestion</span>
            </div>
            <div style="flex:1 1 auto; text-align:right;">
                <a ng-if="vm.data.article" ng-href="{{ vm.data.article.canonicalurl }}">» Les mer på {{ vm.data.article.siteName }} ({{ vm.data.article.pagelanguagehtmlcode }})</a>
                <a ng-href="https://www.wikidata.org/wiki/{{ vm.data.item.data.id }}">» Wikidata</a>
            </div>
        </div>


        <!-- Structured data -->

        <div style="display:flex; margin-top: 1em;" ng-if="vm.data.item.hasClaim('P225')">
            <div style="flex: 0 0 50%" translate>Scientific name:</div>
            <div style="flex: 0 0 50%" ng-bind-html="vm.data.item.formatClaim('P225')"></div>
        </div>

        <div style="display:flex;" ng-if="vm.data.item.hasClaim('P815')">
            <div style="flex: 0 0 50%" translate>ITIS TSN:</div>
            <div style="flex: 0 0 50%" ng-bind-html="vm.data.item.formatClaim('P815')"></div>
        </div>

        <div style="display:flex;" ng-if="vm.data.item.hasClaim('P846')">
            <div style="flex: 0 0 50%" translate>GBIF:</div>
            <div style="flex: 0 0 50%" ng-bind-html="vm.data.item.formatClaim('P846')"></div>
        </div>

        <div style="clear: both;"></div>
    </div>

    <div ng-if="!vm.data.article && !vm.data.item" style="padding:1em; border-top: 1px solid #eee; font-size: 90%; background: #fafafa">
        <a ng-href="{{ vm.getSearchUrl() }}" target="external" translate>Search for «{{ vm.subject.getPrefLabel() }}» in Wikipedia</a>
    </div>

</div>

